/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(38, 38, 38);
  }

  #app_icon_range > h4 {
    color: #ffffff;
  }

  #theme_text > span {
    color: #ffffff;
  }

  #background {
    background-image: url(public/DSC00151.JPG);
  }

  #scroll_container {
    background-color: rgb(38, 38, 38);
  }

  .app_icon,
  .app_icon_scroll,
  .app_icon_no_sound {
    background: rgb(36, 36, 36);
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 1) 0%,
      rgba(66, 66, 66, 1) 100%
    );
    box-shadow: 0px 0px 25px #e8e8e810;
  }

  #app_folder_open {
    background-color: rgba(38, 38, 38, 0.7);
  }

  #home_bar {
    background-color: rgba(38, 38, 38, 0.7);
    border: solid 1px #66666636;
  }

  #appstore {
    background: rgb(0, 51, 91);
    background: linear-gradient(
      0deg,
      rgba(0, 51, 91, 1) 0%,
      rgb(27, 117, 196) 100%
    );
  }

  #facetime {
    background: rgb(0, 79, 42);
    background: linear-gradient(
      0deg,
      rgba(0, 79, 42, 1) 0%,
      rgba(80, 153, 75, 1) 100%
    );
  }

  #photos,
  #settings,
  #findmy {
    background: rgb(36, 36, 36);
    background: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgb(63, 63, 63) 100%);
  }

  #settings_img {
    width: 47%;
    mix-blend-mode: hard-light;
    filter: brightness(120%), contrast(140%);
  }

  #arcade {
    background: linear-gradient(0deg, rgb(133, 60, 0) 0%, rgb(117, 0, 0) 100%);
  }

  #facebook,
  #twitter,
  #google,
  #spotify,
  #soundcloud,
  #band,
  #apple,
  #audio_tri,
  #wiki,
  #youtube,
  #airpods,
  #instagram,
  #keynote,
  #pages {
    background: rgb(25, 25, 25);
    background: linear-gradient(
      0deg,
      rgb(17, 17, 17) 0%,
      rgba(29, 29, 29, 1) 67%,
      rgba(40, 40, 40, 1) 100%
    );
  }

  #pq {
    background: rgb(0, 22, 16);
    background: linear-gradient(
      0deg,
      rgba(0, 22, 16, 1) 0%,
      rgba(14, 53, 54, 1) 100%
    );
  }

  #party {
    background: rgb(0, 82, 59);
    background: linear-gradient(
      0deg,
      rgba(0, 82, 59, 1) 0%,
      rgba(39, 156, 124, 1) 100%
    );
  }

  #github {
    background: rgb(0, 2, 66);
    background: linear-gradient(
      0deg,
      rgba(0, 2, 66, 1) 0%,
      rgba(39, 54, 232, 1) 81%,
      rgba(63, 48, 255, 1) 100%
    );
  }

  #music {
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, rgb(104, 0, 0) 0%, rgb(130, 57, 57) 100%);
  }

  #podcasts {
    background: rgb(146, 0, 231);
    background: linear-gradient(
      0deg,
      rgb(63, 0, 99) 0%,
      rgb(155, 96, 190) 100%
    );
  }

  #newave {
    background: rgb(129, 135, 149);
    background: linear-gradient(
      318deg,
      rgba(129, 135, 149, 1) 0%,
      rgba(0, 44, 65, 1) 100%
    );
  }

  #skrem {
    background: rgb(114, 136, 114);
    background: radial-gradient(
      circle,
      rgba(114, 136, 114, 1) 0%,
      rgba(41, 61, 41, 1) 100%
    );
  }

  #apple_tv,
  #mac,
  #ios,
  #close_button {
    background: rgb(25, 25, 25);
    background: linear-gradient(
      0deg,
      rgb(17, 17, 17) 0%,
      rgb(35, 35, 35) 67%,
      rgb(52, 52, 52) 100%
    );
  }
}
