/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(38, 38, 38);
  }

  #background {
    background-image: url(public/DSC00151.JPG);
  }

  .app_icon,
  .app_icon_scroll {
    background: rgb(36, 36, 36);
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 1) 0%,
      rgba(66, 66, 66, 1) 100%
    );
    box-shadow: 0px 0px 25px #e8e8e810;
  }

  #home_bar {
    background-color: rgba(38, 38, 38, 0.8);
  }

  #appstore {
    background: rgb(0, 51, 91);
  }

  #facetime {
    background: rgb(0, 79, 42);
  }

  #settings {
    background: rgb(36, 36, 36);
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 1) 0%,
      rgba(66, 66, 66, 1) 100%
    );
  }

  #settings_img {
    width: 47%;
    mix-blend-mode: hard-light;
    filter: brightness(120%), contrast(140%);
  }

  #photos {
    background: rgb(36, 36, 36);
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 1) 0%,
      rgba(66, 66, 66, 1) 100%
    );
  }

  #arcade {
    background: linear-gradient(0deg, rgb(133, 60, 0) 0%, rgb(117, 0, 0) 100%);
  }

  #facebook {
    background: #171717;
  }

  #twitter {
    background: #151515;
  }

  #youtube {
    background: rgb(87, 0, 0);
  }

  #google {
    background: #171717;
  }

  #pq {
    background: #171717;
  }

  #party {
    background: #005e45;
  }

  #github {
    background: rgb(0, 2, 66);
    background: linear-gradient(
      0deg,
      rgba(0, 2, 66, 1) 0%,
      rgba(39, 54, 232, 1) 81%,
      rgba(63, 48, 255, 1) 100%
    );
  }
}
