*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/*      Dot       */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 60%; /* Specific width for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  transform: translateZ(20px);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; /* Specify a margin in Chrome, in Firefox and IE it is automatic */
  box-shadow: 0px 0px 3px #0000000e, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 1px #0000000e, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
}

/*       Track      */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #1793ff;
  border-radius: 10px;
  border: 0.1px solid #7f7f7f7d;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1793ff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #1793ff;
  border-radius: 10px;
  border: 0.1px solid #7f7f7f7d;
}

input[type="range"]::-ms-track {
  width: 90%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #1793ff;
  border: 0.2px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1793ff;
}
input[type="range"]::-ms-fill-upper {
  background: #1793ff;
  border: 0.2px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1793ff;
}
/* Custom range end */

body {
  width: auto !important;
  min-width: 375px;
  width: 375px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.color_blend {
  filter: brightness(200%) contrast(50%) grayscale(100%);
  mix-blend-mode: hard-light;
}

#app_icon_range > #h4 {
  display: block;
  margin-bottom: 10px;
  transform: translateZ(20px);
}

#color_input {
  width: 50%;
  height: 60%;
  border: solid 3px #212121;
  border-radius: 10px;
  transform: translateZ(20px);
}

#color_select > h4 {
  margin-right: 10px;
  margin-left: -10px;
}

#background {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(public/IMG_4463.jpeg);
  transition: background-color ease-in-out 0.5s,
    background-position ease-in-out 0.5s, background-image ease-in-out 0.3s,
    opacity ease-in-out 0.5s, background-size 0.5s;
  scroll-snap-align: start;
}

#home_bar {
  position: sticky;
  top: 67%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  z-index: 3;
  max-width: 1397px;
  max-height: 173px;
  width: 95%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(7px);
  box-shadow: 0px 0px 25px #1f1f1f3a;
  border-radius: 53px;
  border: solid 1px #cacaca36;
  transition: border-radius ease-in-out 0.2s;
}

.app_icon {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 71%;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 15px #1f1f1f20;
  border-radius: 25px;
  transition: ease-in-out;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

img {
  width: 60%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  transform: translateZ(20px);
}

#scroll_container {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  margin-top: 90vh;
  width: 100%;
  height: 110%;
  position: absolute;
  display: grid;
  justify-content: center;
  gap: 56px;
  row-gap: 60px;
  grid-template-columns: 223px 223px 223px 223px 223px;
  grid-template-rows: 123px 123px 123px 123px 123px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: none;
  background: transparent;
  scroll-snap-align: start;
  background-color: rgba(255, 255, 255, 0.94);
}

.app_icon_scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 223px;
  max-height: 123px;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 15px #1f1f1f20;
  border-radius: 25px;
  transition: ease-in-out;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.app_icon_no_sound {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 223px;
  max-height: 123px;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 15px #1f1f1f20;
  border-radius: 25px;
  transition: ease-in-out;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#app_icon_range {
  flex-direction: column;
}

#brightness_range {
  display: block;
  margin-bottom: 10px;
  margin-top: 13px;
}

#volume {
  margin-bottom: 10px;
  margin-top: 13px;
}

#folder_back {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  z-index: 2;
}

#app_folder_open {
  display: grid;
  padding: 44.09375px;
  gap: 56px;
  row-gap: 60px;
  grid-template-columns: 223px 223px 223px;
  grid-template-rows: 123px 123px 123px;
  opacity: 0;
  position: fixed;
  z-index: 3;
  width: 60%;
  max-width: 882px;
  height: auto;
  max-height: 581px;
  border-radius: 35px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(224, 224, 224, 0.7);
  border: solid 1px #cacaca36;
  box-shadow: 0px 0px 15px #1f1f1f20;
  transition: ease-in-out 0.5s;
}

#appstore {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background: rgb(34, 135, 251);
  background: linear-gradient(
    0deg,
    rgba(34, 135, 251, 1) 0%,
    rgba(109, 200, 255, 1) 100%
  );
}

#appstore_img {
  width: 47%;
}

#facetime {
  background: rgb(115, 217, 106);
  background: linear-gradient(
    0deg,
    rgba(106, 204, 98, 1) 0%,
    rgb(128, 248, 119) 100%
  );
}

#facetime_img {
  width: 55%;
}

#settings {
  background: rgb(192, 192, 192);
  background: linear-gradient(
    0deg,
    rgb(134, 134, 134) 0%,
    rgb(224, 224, 224) 100%
  );
}

#settings_img {
  width: 47%;
}

#arcade {
  background: linear-gradient(
    0deg,
    rgb(235, 135, 53) 0%,
    rgba(255, 80, 80, 1) 100%
  );
}

#arcade_img {
  width: 47%;
}

#photos,
#youtube,
#google,
#apple,
#wiki,
#airpods {
  background: rgb(233, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#photos_img {
  width: 47%;
}

#youtube_img {
  width: 40%;
}

#instagram {
  background: linear-gradient(
    45deg,
    rgba(245, 180, 78, 1) 0%,
    rgba(240, 75, 75, 1) 27%,
    rgba(195, 49, 238, 1) 66%,
    rgba(128, 9, 241, 1) 84%,
    rgba(48, 9, 240, 1) 97%
  );
}

#instagram_img {
  width: 35%;
}

#facebook {
  background-color: rgb(238, 247, 255);
}

#facebook_img {
  width: 40%;
}

#twitter {
  background-color: #151515;
}

#twitter_img {
  width: 40%;
}

#google_img {
  width: 40%;
}

#pq {
  background-color: rgb(213, 255, 252);
}

#pq_img {
  width: 50%;
}

#party {
  background: #a2ffe6;
}

#party_img {
  width: 47%;
}

#github {
  background: rgb(36, 36, 36);
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(66, 66, 66, 1) 100%
  );
}

#github_img {
  width: 47%;
}

#music {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 113, 113, 1) 100%
  );
}

#spotify {
  background-color: rgb(226, 255, 241);
}

#spotify_img {
  width: 40%;
}

#soundcloud {
  background: rgb(255, 70, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 70, 0, 1) 0%,
    rgba(255, 130, 0, 1) 100%
  );
}

#soundcloud_img {
  width: 40%;
}

#band {
  background-color: rgb(243, 248, 251);
}

#podcasts {
  background: rgb(146, 0, 231);
  background: linear-gradient(
    0deg,
    rgb(146, 0, 231) 0%,
    rgb(209, 129, 255) 100%
  );
}

#podcasts_img {
  width: 68%;
}

#apple_img {
  width: 40%;
}

#file_img {
  width: 47%;
}

#mac_img {
  width: 47%;
}

#ios_img {
  width: 47%;
}

#newave {
  background: rgb(185, 236, 247);
  background: linear-gradient(
    318deg,
    rgba(185, 236, 247, 1) 0%,
    rgba(12, 125, 212, 1) 100%
  );
}

#newave_img {
  width: 50%;
}

#skrem {
  background: #5bdfa8;
}

#skrem_img {
  width: 39%;
}

#audio_tri {
  background: #000000;
}

#audio_tri_img {
  width: 47%;
}

#apple_tv {
  background: rgb(25, 25, 25);
  background: linear-gradient(
    0deg,
    rgb(17, 17, 17) 0%,
    rgb(64, 64, 64) 67%,
    rgb(88, 88, 88) 100%
  );
}

#apple_tv_img {
  width: 100%;
}

#findmy {
  background: rgb(192, 192, 192);
  background: linear-gradient(
    0deg,
    rgb(192, 192, 192) 0%,
    rgb(233, 233, 233) 100%
  );
}

#wiki_img {
  width: 47%;
}

#airpods_img {
  width: 37%;
}

/* hover */
.app_icon:hover {
  cursor: pointer;
  box-shadow: 0px 25px 35px #1f1f1f76;
}

.app_icon_scroll:hover {
  cursor: pointer;
  box-shadow: 0px 25px 35px #1f1f1f76;
}

.app_icon_no_sound:hover {
  cursor: pointer;
  box-shadow: 0px 25px 35px #1f1f1f76;
}

#app_icon_range:hover {
  cursor: pointer;
  box-shadow: 0px 25px 35px #1f1f1f76;
}

@media only screen and (max-width: 1400px) {
  #home_bar {
    margin-bottom: 2%;
    width: 98%;
    height: 22%;
    max-height: 173px;
    border-radius: 53px;
  }

  .app_icon {
    min-height: 70px;
    max-height: 119px;
    width: 17%;
    height: 77.5%;
    border-radius: 25px;
  }

  #scroll_container {
    margin-top: 93vh;
    max-width: 1470px;
    height: 150%;
    gap: 4%;
    row-gap: 6.5%;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 10.5% 10.5% 10.5% 10.5% 10.5%;
  }

  #app_folder_open {
    padding: 3%;
    gap: 4%;
    row-gap: 5%;
    grid-template-columns: 30.5% 30.5% 30.5%;
    grid-template-rows: auto auto auto;
  }

  .app_icon_scroll {
    max-width: 100%;
    min-height: 70px;
    max-height: 119px;
    width: 100%;
    height: 100%;
  }

  .app_icon_no_sound {
    height: auto;
    min-height: 70px;
    max-height: none;
  }

  #app_icon_range > h4 {
    display: none;
  }

  #volume {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #home_bar {
    width: 98%;
    height: 12%;
    border-radius: 20px;
  }

  .app_icon {
    min-height: 57.3px;
    max-height: 57.3px;
  }

  #scroll_container {
    margin-top: 90vh;
    row-gap: 1%;
    grid-template-rows: 8% 8% 8% 8% 8%;
  }

  #app_folder_open {
    height: 40%;
  }

  .app_icon_scroll {
    width: 100%;
    height: 100%;
    min-height: 57.3px;
    max-height: 57.3px;
    border-radius: 20px;
  }

  .app_icon_no_sound {
    min-height: 57.3px;
    max-height: 57.3px;
  }

  #app_icon_range > h4 {
    display: none;
  }

  #theme_text {
    display: none;
  }

  #volume {
    display: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
  }
}
